[Unit]
Description=Apache Spark Worker
After=network.target

[Service]
Type=forking
User={{ app_user }}
Group={{ app_group }}
EnvironmentFile=-/etc/environment
Environment="SPARK_HOME={{ spark_home }}"
ExecStart={{ spark_home }}/sbin/start-worker.sh spark://{{ hostvars[groups['master'][0]]['ansible_host'] }}:{{ spark_master_port }}
ExecStop={{ spark_home }}/sbin/stop-worker.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
