[Unit]
Description=Apache Zookeeper
After=network.target
Requires=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
EnvironmentFile=-/etc/environment
ExecStart={{ kafka_home }}/bin/zookeeper-server-start.sh /etc/zookeeper/zookeeper.properties
ExecStop={{ kafka_home }}/bin/zookeeper-server-stop.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
